@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

p{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Press Start 2P', system-ui;
    background-color: teal;
    color: rgb(206, 230, 176);
}
.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
    top: 4rem;
}
h1{
    font-size: 4rem;
    margin: 0;
}
h2, button{
    background-color: #CEE6B0;
    color: #008080;
    padding: 1rem;
    border-radius: 20px;
}
.header > div{
    display: flex;
    font-size: 4rem;
    border: 1px solid;
}
.fighter{
    padding: 7rem;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid;
    cursor: pointer;
}
.fighter:hover{
    background-color: #CEE6B0;
    color: #008080;
}
.second{
    display: none;
}
.container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
    display: none;
}
.row{
    display: flex;
}
.cell{
    border: 1px solid rgb(165, 167, 167);
    font-size: 100px;
    border-right: 0;
    border-top: 0;
    padding: 1rem;
    cursor: pointer;
}
.cell:hover{
    background-color: rgb(1, 97, 97);
    color: white;
    border: 0;
}
.top-left{
    border-left: 0;
}
.third-row > p{
    border-bottom: 0;
}
button{
    border: 0;
    cursor: pointer;
    font-family: 'Press Start 2P', system-ui;
}
button:hover{
    background-color: #008080;
    color: #CEE6B0;
    border: 3px solid;
}
.buttons{
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    position: relative;
    right: 1.5rem;
}